* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body, html {

    background-color: white;
    overflow: hidden;
}

.contenedor-login {
    display: flex;
    justify-content: center;   
    align-items: center;       
    width: 100%;
    height: 100vh;             
}

.panel-login {
    background-color: #B9D9EB;
    width: 35%;                
    max-width: 600px; 
    height: 90%;         
    padding: 60px 50px;        
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2); 
}

.titulo {
    font-size: 45px;
    color: #000;
    margin-bottom: 10px;
}

.subtitulo {
    font-size: 16px;
    color: #333;
    margin-bottom: 60px;
}

.campo {
    border-bottom: 2px solid #000;
    margin-bottom: 40px;
    position: relative;
}

.campo label {
    display: block;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
}

.campo input {
    width: 100%;
    border: none;
    background: transparent;
    padding: 10px 0;
    outline: none;
    font-size: 18px;
}

.contenedor-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ojo {
    cursor: pointer;
    font-size: 20px;
}

.recuperar {
    display: block;
    font-size: 12px;
    color: #444;
    text-decoration: underline;
    margin-bottom: 40px;
}

.btn-negro {
    background-color: #222;
    color: white;
    border: none;
    padding: 18px;
    border-radius: 40px;
    font-weight: bold;
    font-size: 18px;
    width: 100%;
    cursor: pointer;
    margin-bottom: 15px;
}

.btn-gris {
    background-color: #E5E5E5;
    color: #000;
    border: none;
    padding: 18px;
    border-radius: 40px;
    font-weight: bold;
    font-size: 18px;
    width: 100%;
    cursor: pointer;
}

.panel-mascotas {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    padding-top: 40px;
}

.panel-mascotas h2 {
    font-size: 40px;
    margin-bottom: 50px;
}

.lista-mascotas {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}


.cupcake {
    width: 174px;
    height: 170px;
}

.gatoo {
    width: 190px;
    height: 190px;
}

.perroo {
    width: 110px;
    height: 110px;
}

.lista-mascotas img:hover {
    transform: translateY(-10px); 
}

.lista-mascotas img {
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.lista-mascotas img.seleccionada {
    transform: scale(1.2); 
    filter: drop-shadow(0 0 15px yellow); 
}

.footer {
    font-size: 12px;
    color: #666;
    text-align: center;
    margin-top: 30px;
    opacity: 0.7; 
}


